In [30]:
import numpy as np
import pandas as pd

In [31]:
movies=pd.read_csv('./movies_dataset/tmdb_5000_movies.csv')
credits=pd.read_csv('./movies_dataset/tmdb_5000_credits.csv')

In [34]:
movies = pd.merge(movies, credits, on='title')

In [36]:
#genres id keywords title overview cast crew
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

To get the tags, we shall merge overview genres keywords cast crew

In [37]:
#detecting nulls
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [38]:
#dropping the nulls
movies.dropna(inplace=True)

In [39]:
#checking duplicates
movies.duplicated().sum()

np.int64(0)

In [40]:
movies.iloc[0].genres
#We have : '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
#we want ['Action','Adventure','Fantasy','SciFi']
import ast
def convert(obj): # here object is a string
    L=[]
    for i in ast.literal_eval( obj): # converting a string to list
        L.append(i['name'])
    return L

In [41]:
movies['genres']=movies['genres'].apply(convert)

In [42]:
movies['keywords']=movies['keywords'].apply(convert)

For cast: Get the first 3 actors from the dictionary
character is the movie char. name
GET THE NAME

In [43]:
import ast
def convert3(obj): # here object is a string
    L=[]
    counter=0
    for i in ast.literal_eval( obj):
         # converting a string to list
        if (counter!=3):
            L.append(i['name'])
            counter=counter+1
        else:
            break
    return L

In [44]:
movies['cast']=movies['cast'].apply(convert3)

For crew, only fetch director name 
job:director

In [47]:
def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
            break
    return L

In [49]:
movies['crew']=movies['crew'].apply(fetch_director)

In [50]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]